<th:block th:fragment xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="container justify-content-center mt-3">
        <div class="jumbotron jumbotron-background d-flex justify-content-center">
            <div class="container">
                <div class="col-md-12 d-flex justify-content-center">
                    <h1>BULATSA</h1>
                </div>
                <hr class="hr-background"/>
                <th:block th:if="${areImported == true}">
                    <h4>Click one of the three buttons below to export some data from the database.</h4>
                </th:block>
                <div class="col-md-12 d-flex justify-content-center">
                    <th:block th:if="${areImported == true}">
                        <a class="btn btn-success mx-5 my-5" th:href="@{/export1}">Export Landed Airplanes</a>
                        <a class="btn btn-success mx-5 my-5" th:href="@{/export2}">Export Flying Airplanes</a>
                        <a class="btn btn-success mx-5 my-5" th:href="@{/export3}">Export Future Flights</a>
                    </th:block>
                </div>
                <th:block th:if="${areImported == false}">
                    <h4>Click the button below to import some data to the database.</h4>
                </th:block>
                <div class="col-md-12 d-flex justify-content-center">
                    <th:block th:if="${areImported == false}">
                        <a class="btn btn-success mx-5 my-5" th:href="@{/import}">Import</a>
                    </th:block>
                </div>
            </div>
        </div>
    </div>
</th:block>